.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.hero > .car > img {
    width: 1000px;
}
.hero > .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    gap: 16px;
}
.hero > .content > p {
    text-align: center;
}
.hero > .content > .btns {
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: 70%;
}

.technology {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.technology > p {
    color: var(--subtitle);
    text-transform: uppercase;
}
.technology > .specs {
    display: flex;
    align-items: center;
    gap: 64px;
}
.spec {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.spec > .title {
    font-family: "title";
    text-transform: uppercase;
    font-size: 72px;
    color: black;
}
.spec > .desc {
    font-family: "title";
    text-transform: uppercase;
    font-size: 24px;
    color: black;
}

.highway {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.highway > figure {
    padding: 0px 24px;
}
.highway > figure, .highway > figure > img {
    width: 100%;
    border-radius: 12px;
}

.benefits {
    display: flex;
    align-items: center;
}
.benefit {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-left: 1px solid var(--subtitle);
}
.benefit > .heading {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 6px 12px;
}
.benefit > .heading > .title {
    font-family: "title";
    font-size: 26px;
    color: var(--text);
}
.benefit > .heading > .desc {
    color: var(--subtitle);
}
.benefit > figure {
    height: 272px;
}
.benefit > figure, .benefit > figure > img {
    aspect-ratio: 3 / 2;
    width: 100%;
    height: 100%;
}

.car-parts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.car-parts > .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.car-parts > .header > .section-title {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 380px;
    gap: 8px;
}
.car-parts > .header > .section-title > .title {
    text-transform: uppercase;
    font-family: "title";
    color: var(--title);
    font-size: 42px;
}
.car-parts > .header > .section-title > .desc {
    color: var(--subtitle);
}
.car-parts > .header > .legends {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
}
.car-parts > .header > .legends > .column {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.column > .point {
    display: flex;
    align-items: center;
    gap: 12px;
}
.column > .point > .ball {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border-radius: 999px;
    background-color: var(--text);
    color: var(--bg);
    font-family: "title";
    font-size: 20px;
    text-transform: uppercase;
}
.column > .point > p {
    font-family: "title";
    text-transform: uppercase;
    color: var(--subtitle);
}

.faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.faq > .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.faq > .heading > .title {
    font-family: "title";
    color: var(--text);
    font-size: 42px;
    text-transform: uppercase;
}
.faq > .heading > .desc {
    font-family: "title";
    color: var(--subtitle);
    font-size: 22px;
    text-transform: uppercase;
}
.faq > .questions {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.faq > .questions > .question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 64px;
}
.faq > .questions > .question > p {
    font-family: "title";
    text-transform: uppercase;
    font-size: 20px;
    color: var(--title);
    max-width: 80%;
}
.faq > .questions > .question > figure > img {
    width: 20px;
}
