.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.hero > .car > img {
    width: 1000px;
}
.hero > .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    gap: 16px;
}
.hero > .content > p {
    text-align: center;
}
.hero > .content > .btns {
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: 70%;
}

.technology {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.technology > p {
    color: var(--subtitle);
    text-transform: uppercase;
}
.technology > .specs {
    display: flex;
    align-items: center;
    gap: 64px;
}
.spec {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.spec > .title {
    font-family: "title";
    text-transform: uppercase;
    font-size: 72px;
    color: black;
}
.spec > .desc {
    font-family: "title";
    text-transform: uppercase;
    font-size: 24px;
    color: black;
}

.highway {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.highway > figure {
    padding: 0px 24px;
}
.highway > figure, .highway > figure > img {
    width: 100%;
    border-radius: 12px;
}

.benefits {
    display: flex;
    align-items: center;
}
.benefit {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-left: 1px solid var(--subtitle);
}
.benefit > .heading {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 6px 12px;
}
.benefit > .heading > .title {
    font-family: "title";
    font-size: 26px;
    color: var(--text);
}
.benefit > .heading > .desc {
    color: var(--subtitle);
}
.benefit > figure {
    height: 272px;
}
.benefit > figure, .benefit > figure > img {
    aspect-ratio: 3 / 2;
    width: 100%;
    height: 100%;
}
