.cars {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 128px;
    padding-top: 64px;
}
.car-model {
    display: flex;
    flex-direction: column;
}
.car-model > .header {
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.car-model > .header > p {
    font-family: "title";
    font-size: 24px;
    color: black;
}
.car-model > .header > .details {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.car-model > .header > .details > .detail {
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    font-family: "title";
}
.car-model > .header > .details > .detail > .title {
    width: 125px;
    color: black;
}
.car-model > .header > .details > .detail > p {
    color: var(--subtitle);
    white-space: nowrap;
}
.car-model > figure > img {
    width: 100%;
}
.car-model > .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "title";
    text-transform: uppercase;
}
.car-model > .footer > .desc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    color: var(--subtitle);
}
.car-model > .footer > .link {
    text-decoration: underline;
    color: black;
    font-size: 20px;
    cursor: pointer;
}
